include/
lib/
lib64/
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/
*.log
*.sqlite3
test.db
notes/
*.in
.git
.gitignore
.DS_Store
.vscode/
.idea/
.env
database/
docker-compose.yaml
wallet_service/tests/
docker-compose.test.yml
